.people {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 0 20px;
}

.people h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.people article {
    background: rgba(25,27,40);
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.people article p {
    margin-top: 5px;
    line-height: 24px;
    font-size: 16px;
}

.people article a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid #DDD;
    background: none;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.people article a:hover {
    background: black;
    color: #DDD;
}

